interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/granules.json?attribute%5B%5D=string%2CASCENDING_DESCENDING%2CASCENDING&bounding_box=-93.65%2C42.0%2C-93.55%2C42.1&page_size=2000&provider=ASF&short_name=OPERA_L2_RTC-S1_V1&temporal=2024-07-01T00%3A00%3A00Z%2C2024-07-31T23%3A59%3A59Z
  response:
    body:
      string: '{"feed":{"updated":"2026-05-18T16:53:13.627Z","id":"https://cmr.earthdata.nasa.gov:443/search/granules.json?short_name=OPERA_L2_RTC-S1_V1&provider=ASF&bounding_box=-93.65%2C42.0%2C-93.55%2C42.1&temporal=2024-07-01T00%3A00%3A00Z%2C2024-07-31T23%3A59%3A59Z&page_size=2000&attribute%5B%5D=string%2CASCENDING_DESCENDING%2CASCENDING","title":"ECHO
        granule metadata","entry":[{"producer_granule_id":"OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0","time_start":"2024-07-01T00:14:10.000Z","updated":"2024-07-01T05:18:18.000Z","orbit_calculated_spatial_domains":[{"orbit_number":"54560"}],"dataset_id":"OPERA
        Radiometric Terrain Corrected SAR Backscatter from Sentinel-1 validated product
        (Version 1)","data_center":"ASF","title":"OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0","coordinate_system":"CARTESIAN","day_night_flag":"UNSPECIFIED","time_end":"2024-07-01T00:14:13.000Z","id":"G3139721223-ASF","original_format":"UMM_JSON","granule_size":"12.455917358398438","browse_flag":true,"polygons":[["41.85061
        -93.99679 41.91359 -93.48703 41.97196 -92.99645 42.13749 -93.03174 42.07314
        -93.57343 42.01629 -94.03417 41.85061 -93.99679"]],"collection_concept_id":"C2777436413-ASF","online_access_flag":true,"links":[{"rel":"http://esipfed.org/ns/fedsearch/1.1/browse#","title":"Download
        OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_BROWSE.png","hreflang":"en-US","href":"https://datapool.asf.alaska.edu/BROWSE/OPERA-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_BROWSE.png"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/browse#","title":"This
        link provides direct download access via S3 to OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_BROWSE.png","hreflang":"en-US","href":"s3://asf-cumulus-prod-opera-browse/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/stac/ASF
  response:
    body:
      string: '{"type":"Catalog","id":"ASF","title":"ASF STAC Catalog","stac_version":"1.0.0","description":"Root
        STAC catalog for ASF","conformsTo":["https://api.stacspec.org/v1.0.0-rc.2/core","https://api.stacspec.org/v1.0.0-rc.2/item-search","https://api.stacspec.org/v1.0.0-rc.2/ogcapi-features","https://api.stacspec.org/v1.0.0-rc.2/item-search#fields","https://api.stacspec.org/v1.0.0-rc.2/item-search#features","https://api.stacspec.org/v1.0.0-rc.2/item-search#query","https://api.stacspec.org/v1.0.0-rc.2/item-search#sort","https://api.stacspec.org/v1.0.0-rc.2/item-search#context","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/cor[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/stac
  response:
    body:
      string: '{"type":"Catalog","id":"CMR-STAC","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0-rc.2/core","https://api.stacspec.org/v1.0.0-rc.2/item-search","https://api.stacspec.org/v1.0.0-rc.2/ogcapi-features","https://api.stacspec.org/v1.0.0-rc.2/item-search#fields","https://api.stacspec.org/v1.0.0-rc.2/item-search#features","https://api.stacspec.or[...]
- request:
    body: '{"limit": 250, "bbox": [-93.65, 42.0, -93.55, 42.1], "datetime": "2024-07-01T00:00:00Z/2024-07-31T23:59:59Z",
      "collections": ["OPERA_L2_RTC-S1_V1_1"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmr.earthdata.nasa.gov/stac/ASF/search
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","id":"OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/storage/v2.0.0/schema.json"],"properties":{"datetime":"2024-07-01T00:14:10.000Z","storage:schemes":{"aws":{"type":"aws-s3","platform":"https://{bucket}.s3.{region}.amazonaws.com","bucket":"asf-cumulus-prod-opera-products","region":"us-west-2"}},"start_datetime":"2024-07-01T00:14:10.000Z","end_datetime":"2024-07-01T00:14:13.000Z"},"geometry":{"type":"Polygon","coordinates":[[[-93.99679,41.85061],[-93.48703,41.91359],[-92.99645,41.97196],[-93.03174,42.13749],[-93.57343,42.07314],[-94.03417,42.01629],[-93.99679,41.85061]]]},"bbox":[-94.03417,41.85061,-92.99645,42.13749],"assets":{"0":{"href":"https://datapool.asf.alaska.edu/RTC/OPERA-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0.h5","title":"Direct
        Download [3]","description":"Download OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0.h5","roles":["data"]},"browse":{"href":"https://datapool.asf.alaska.edu/BROWSE/OPERA-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_BROWSE_thumbnail.png","title":"Download
        OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_BROWSE_thumbnail.png","type":"image/jpeg","roles":["browse"]},"thumbnail_0":{"href":"https://datapool.asf.alaska.edu/BROWSE/OPERA-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_BROWSE.png","title":"Thumbnail
        [0]","description":"Download OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_BROWSE.png","roles":["thumbnail"]},"thumbnail_1":{"href":"s3://asf-cumulus-prod-opera-browse/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_BROWSE.png","title":"Thumbnail
        [1]","description":"This link provides direct download access via S3 to OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_BROWSE.png","roles":["thumbnail"]},"thumbnail_2":{"href":"https://datapool.asf.alaska.edu/BROWSE/OPERA-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_BROWSE_low-res.png","title":"Thumbnail
        [2]","description":"Download OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_BROWSE_low-res.png","roles":["thumbnail"]},"thumbnail_3":{"href":"s3://asf-cumulus-prod-opera-browse/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_BROWSE_low-res.png","title":"Thumbnail
        [3]","description":"This link provides direct download access via S3 to OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_BROWSE_low-res.png","roles":["thumbnail"]},"thumbnail_4":{"href":"https://datapool.asf.alaska.edu/BROWSE/OPERA-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_BROWSE_thumbnail.png","title":"Thumbnail
        [4]","description":"Download OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_BROWSE_thumbnail.png","roles":["thumbnail"]},"thumbnail_5":{"href":"s3://asf-cumulus-prod-opera-browse/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_BROWSE_thumbnail.png","title":"Thumbnail
        [5]","description":"This link provides direct download access via S3 to OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_BROWSE_thumbnail.png","roles":["thumbnail"]},"0_VH":{"href":"https://datapool.asf.alaska.edu/RTC/OPERA-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_VH.tif","title":"Direct
        Download [0]","description":"Download OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_VH.tif","roles":["data"]},"0_VV":{"href":"https://datapool.asf.alaska.edu/RTC/OPERA-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_VV.tif","title":"Direct
        Download [1]","description":"Download OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_VV.tif","roles":["data"]},"0_mask":{"href":"https://datapool.asf.alaska.edu/RTC/OPERA-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_mask.tif","title":"Direct
        Download [2]","description":"Download OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_mask.tif","roles":["data"]},"s3_0_VH":{"href":"s3://asf-cumulus-prod-opera-products/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_VH.tif","title":"S3
        Direct Download [0]","description":"This link provides direct download access
        via S3 to OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_VH.tif","roles":["data"],"storage:refs":["aws"]},"s3_0_VV":{"href":"s3://asf-cumulus-prod-opera-products/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_VV.tif","title":"S3
        Direct Download [1]","description":"This link provides direct download access
        via S3 to OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_VV.tif","roles":["data"],"storage:refs":["aws"]},"s3_0_mask":{"href":"s3://asf-cumulus-prod-opera-products/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_mask.tif","title":"S3
        Direct Download [2]","description":"This link provides direct download access
        via S3 to OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_mask.tif","roles":["data"],"storage:refs":["aws"]},"s3_0":{"href":"s3://asf-cumulus-prod-opera-products/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0.h5","title":"S3
        Direct Download [3]","description":"This link provides direct download access
        via S3 to OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0.h5","roles":["data"],"storage:refs":["aws"]},"metadata":{"href":"https://cmr.earthdata.nasa.gov/search/concepts/G3139721223-ASF.xml","title":"CMR
        XML metadata for G3139721223-ASF","type":"application/xml","roles":["metadata"]}},"links":[{"rel":"self","href":"https://cmr.earthdata.nasa.gov/stac/ASF/collections/OPERA_L2_RTC-S1_V1_1/items/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0","type":"application/geo+json"},{"rel":"parent","href":"https://cmr.earthdata.nasa.gov/stac/ASF/collections/OPERA_L2_RTC-S1_V1_1/","type":"application/geo+json"},{"rel":"collection","href":"https://cmr.earthdata.nasa.gov/stac/ASF/collections/OPERA_L2_RTC-S1_V1_1/","type":"application/geo+json"},{"rel":"root","href":"https://cmr.earthdata.nasa.gov/stac","type":"application/json"},{"rel":"provider","href":"https://cmr.earthdata.nasa.gov/stac/ASF","type":"application/json"},{"rel":"via","href":"https://cmr.earthdata.nasa.gov/search/concepts/G3139721223-ASF.json","title":"CMR
        JSON metadata for item","type":"application/json"},{"rel":"via","href":"https://cmr.earthdata.nasa.gov/search/concepts/G3139721223-ASF.umm_json","title":"CMR
        UMM_JSON metadata for item","type":"application/vnd.nasa.cmr.umm+json"}],"collection":"OPERA_L2_RTC-S1_V1_1"},{"type":"Feature","id":"OPERA_L2_RTC-S1_T063-133418-IW3_20240701T001413Z_20240701T044329Z_S1A_30_v1.0","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/storage/v2.0.0/schema.json"],"properties":{"datetime":"2024-07-01T00:14:13.000Z","storage:schemes":{"aws":{"type":"aws-s3","platform":"https://{bucket}.s3.{region}.amazonaws.com","bucket":"asf-cumulus-prod-opera-products","region":"us-west-2"}},"start_datetime":"2024-07-01T00:14:13.000Z","end_da[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/stac/ASF/search?bbox%5B0%5D=-93.65&bbox%5B1%5D=42&bbox%5B2%5D=-93.55&bbox%5B3%5D=42.1&collections%5B0%5D=OPERA_L2_RTC-S1_V1_1&cursor=eyJqc29uIjoiW1wiYXNmXCIsMTcyMTg2NjQ1MjAwMCwzMjk5OTg1NzQ0XSIsInVtbSI6IltcImFzZlwiLDE3MjE4NjY0NTIwMDAsMzI5OTk4NTc0NF0ifQ%3D%3D&datetime=2024-07-01T00%3A00%3A00Z%2F2024-07-31T23%3A59%3A59Z&limit=250
  response:
    body:
      string: '{"type":"FeatureCollection","features":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://datapool.asf.alaska.edu/RTC/OPERA-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_VV.tif
  response:
    body:
      string: Redirecting to https://cumulus.asf.alaska.edu/RTC/OPERA-S1/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_VV.tif
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cumulus.asf.alaska.edu/RTC/OPERA-S1/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_VV.tif
      x-amz-apigw-id:
      - dkeP4EFAvHcEV3A=
      x-amzn-RequestId:
      - c8fbf200-3d24-4ded-9274-a0f3872f7c89
    status:
      code: 307
      message: Temporary Redirect
- request:
    body: null
    headers:
    method: GET
    uri: https://cumulus.asf.alaska.edu/RTC/OPERA-S1/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_VV.tif
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      location:
      - https://urs.earthdata.nasa.gov/oauth/authorize?client_id=BO_n7nTIlMljdvU6kRRB3g&response_type=code&redirect_uri=https://cumulus.asf.alaska.edu/login&state=%2FRTC%2FOPERA-S1%2FOPERA_L2_RTC-S1%2FOPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0%2FOPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_VV.tif&app_type=401
      x-amz-apigw-id:
      - dkeP-GZIPHcERMA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '0'
      x-amzn-Remapped-Date:
      - Mon, 18 May 2026 16:53:19 GMT
      x-amzn-Remapped-Server:
      - Server
      x-amzn-Remapped-X-Forwarded-For:
      - 189.203.45.142, 18.68.19.68
      x-amzn-Remapped-x-amzn-RequestId:
      - 504677e3-b264-43a5-82ce-f0e6bf7529af
      x-amzn-RequestId:
      - d78df444-5181-4015-b730-2de47bede142
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://urs.earthdata.nasa.gov/oauth/authorize?app_type=401&client_id=BO_n7nTIlMljdvU6kRRB3g&redirect_uri=https%3A%2F%2Fcumulus.asf.alaska.edu%2Flogin&response_type=code&state=%2FRTC%2FOPERA-S1%2FOPERA_L2_RTC-S1%2FOPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0%2FOPERA_L2_RTC-S1_T063-133417-IW3_20240701T001410Z_20240701T044329Z_S1A_30_v1.0_VV.tif
  response:
    body:
      string: 'HTTP Basic: Access denied.

        '
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      WWW-Authenticate:
      - Basic realm="Please enter your Earthdata Login credentials. If you do not
        have a Earthdata Login, create one at https://urs.earthdata.nasa.gov//users/new"
    status:
      code: 401
      message: Unauthorized
version: 1
