interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: '{"datetime": "2022-02-06T00:00:00Z/2022-02-10T00:00:00Z", "collections":
      ["sentinel-2-l2a"], "query": {"grid:code": {"eq": "MGRS-33NVB"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"stac_version\":\"1.0.0\",\"stac_extensions\":[],\"context\":{\"limit\":10,\"matched\":2,\"returned\":2},\"numberMatched\":2,\"numberReturned\":2,\"features\":[{\"type\":\"Feature\",\"stac_version\":\"1.0.0\",\"id\":\"S2A_33NVB_20220209_0_L2A\",\"properties\":{\"created\":\"2022-11-06T04:58:09.886Z\",\"platform\":\"sentinel-2a\",\"constellation\":\"sentinel-2\",\"instruments\":[\"msi\"],\"eo:cloud_cover\":72.464907,\"proj:epsg\":32633,\"mgrs:utm_zone\":33,\"mgrs:latitude_band\":\"N\",\"mgrs:grid_square\":\"VB\",\"grid:code\":\"MGRS-33NVB\",\"view:sun_azimuth\":122.342770607154,\"view:sun_elevation\":59.4127710140341,\"s2:degraded_msi_data_percentage\":0,\"s2:nodata_pixel_percentage\":0,\"s2:saturated_defective_pixel_percentage\":0,\"s2:dark_features_percentage\":0.00005,\"s2:cloud_shadow_percentage\":0.223082,\"s2:vegetation_percentage\":24.343164,\"s2:not_vegetated_p[...]
- request:
    body: '{"datetime": "2022-02-06T00:00:00Z/2022-02-10T00:00:00Z", "query": {"grid:code":
      {"eq": "MGRS-33NVB"}}, "collections": ["sentinel-2-l2a"], "next": "2022-02-07T09:39:59.584000Z,S2B_33NVB_20220207_0_L2A,sentinel-2-l2a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":2,"returned":0},"numberMatched":2,"numberReturned":0,"features":[],"links":[{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"}]}'
    headers:
      Content-Type:
      - application/geo+json; charset=utf-8
      etag:
      - W/"111-7vxaAljwSdJNfA0V9FinjXcubNg"
      x-amz-apigw-id:
      - ChobAHZzPHcEtow=
      x-amzn-Remapped-content-length:
      - '273'
      x-amzn-RequestId:
      - 3c3e9716-ed9a-45ed-97c1-2a80a7014b22
    status:
      code: 200
      message: OK
version: 1
