interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/stac/ASF
  response:
    body:
      string: '{"type":"Catalog","id":"ASF","title":"ASF STAC Catalog","stac_version":"1.0.0","description":"Root
        STAC catalog for ASF","conformsTo":["https://api.stacspec.org/v1.0.0-rc.2/core","https://api.stacspec.org/v1.0.0-rc.2/item-search","https://api.stacspec.org/v1.0.0-rc.2/ogcapi-features","https://api.stacspec.org/v1.0.0-rc.2/item-search#fields","https://api.stacspec.org/v1.0.0-rc.2/item-search#features","https://api.stacspec.org/v1.0.0-rc.2/item-search#query","https://api.stacspec.org/v1.0.0-rc.2/item-search#sort","https://api.stacspec.org/v1.0.0-rc.2/item-search#context","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0-rc.2/collection-search","https://api.stacspec.org/v1.0.0-rc.2/collection-search#free-text","https://api.stacspec.org/v1.0.0-rc.2/collection-search#sort","http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/simple-query"],"links":[{"rel":"self","href":"https://cmr.earthdata.nasa.gov/stac/ASF","type":"application/geo+json","title":"Provider
        Catalog"},{"rel":"root","href":"https://cmr.earthdata.nasa.gov/stac","type":"application/geo+json","title":"Root
        Catalog"},{"rel":"data","href":"https://cmr.earthdata.nasa.gov/stac/ASF/collections","type":"application/json","title":"Provider
        Collections","method":"GET"},{"rel":"data","href":"https://cmr.earthdata.nasa.gov/stac/ASF/collections","type":"application/json","title":"Provi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/stac
  response:
    body:
      string: '{"type":"Catalog","id":"CMR-STAC","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0-rc.2/core","https://api.stacspec.org/v1.0.0-rc.2/item-search","https://api.stacspec.org/v1.0.0-rc.2/ogcapi-features","https://api.stacspec.org/v1.0.0-rc.2/item-search#fields","https://api.stacspec.org/v1.0.0-rc.2/item-search#features","https://api.stacspec.or[...]
- request:
    body: '{"bbox": [-105.02, 39.74, -105.01, 39.75], "datetime": "2024-07-01T00:00:00Z/2024-07-31T23:59:59Z",
      "collections": ["OPERA_L2_RTC-S1_V1_1"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmr.earthdata.nasa.gov/stac/ASF/search
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","id":"OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/storage/v2.0.0/schema.json"],"properties":{"datetime":"2024-07-02T00:54:44.000Z","storage:schemes":{"aws":{"type":"aws-s3","platform":"https://{bucket}.s3.{region}.amazonaws.com","bucket":"asf-cumulus-prod-opera-products","region":"us-west-2"}},"start_datetime":"2024-07-02T00:54:44.000Z","end_datetime":"2024-07-02T00:54:47.000Z"},"geometry":{"type":"Polygon","coordinates":[[[-105.74139,39.4937],[-105.21948,39.5699],[-104.73704,39.63812],[-104.77789,39.80352],[-105.31406,39.72776],[-105.77644,39.66029],[-105.74139,39.4937]]]},"bbox":[-105.77644,39.4937,-104.73704,39.80352],"assets":{"0":{"href":"https://datapool.asf.alaska.edu/RTC/OPERA-S1/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0.h5","title":"Direct
        Download [3]","description":"Download OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0.h5","roles":["data"]},"browse":{"href":"https://datapool.asf.alaska.edu/BROWSE/OPERA-S1/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_BROWSE_thumbnail.png","title":"Download
        OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_BROWSE_thumbnail.png","type":"image/jpeg","roles":["browse"]},"thumbnail_0":{"href":"https://datapool.asf.alaska.edu/BROWSE/OPERA-S1/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_BROWSE.png","title":"Thumbnail
        [0]","description":"Download OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_BROWSE.png","roles":["thumbnail"]},"thumbnail_1":{"href":"s3://asf-cumulus-prod-opera-browse/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_BROWSE.png","title":"Thumbnail
        [1]","description":"This link provides direct download access via S3 to OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_BROWSE.png","roles":["thumbnail"]},"thumbnail_2":{"href":"https://datapool.asf.alaska.edu/BROWSE/OPERA-S1/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_BROWSE_low-res.png","title":"Thumbnail
        [2]","description":"Download OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_BROWSE_low-res.png","roles":["thumbnail"]},"thumbnail_3":{"href":"s3://asf-cumulus-prod-opera-browse/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_BROWSE_low-res.png","title":"Thumbnail
        [3]","description":"This link provides direct download access via S3 to OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_BROWSE_low-res.png","roles":["thumbnail"]},"thumbnail_4":{"href":"https://datapool.asf.alaska.edu/BROWSE/OPERA-S1/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_BROWSE_thumbnail.png","title":"Thumbnail
        [4]","description":"Download OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_BROWSE_thumbnail.png","roles":["thumbnail"]},"thumbnail_5":{"href":"s3://asf-cumulus-prod-opera-browse/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_BROWSE_thumbnail.png","title":"Thumbnail
        [5]","description":"This link provides direct download access via S3 to OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_BROWSE_thumbnail.png","roles":["thumbnail"]},"0_VH":{"href":"https://datapool.asf.alaska.edu/RTC/OPERA-S1/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_VH.tif","title":"Direct
        Download [0]","description":"Download OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_VH.tif","roles":["data"]},"0_VV":{"href":"https://datapool.asf.alaska.edu/RTC/OPERA-S1/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_VV.tif","title":"Direct
        Download [1]","description":"Download OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_VV.tif","roles":["data"]},"0_mask":{"href":"https://datapool.asf.alaska.edu/RTC/OPERA-S1/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_mask.tif","title":"Direct
        Download [2]","description":"Download OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_mask.tif","roles":["data"]},"s3_0_VH":{"href":"s3://asf-cumulus-prod-opera-products/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_VH.tif","title":"S3
        Direct Download [0]","description":"This link provides direct download access
        via S3 to OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_VH.tif","roles":["data"],"storage:refs":["aws"]},"s3_0_VV":{"href":"s3://asf-cumulus-prod-opera-products/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_VV.tif","title":"S3
        Direct Download [1]","description":"This link provides direct download access
        via S3 to OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_VV.tif","roles":["data"],"storage:refs":["aws"]},"s3_0_mask":{"href":"s3://asf-cumulus-prod-opera-products/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_mask.tif","title":"S3
        Direct Download [2]","description":"This link provides direct download access
        via S3 to OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_mask.tif","roles":["data"],"storage:refs":["aws"]},"s3_0":{"href":"s3://asf-cumulus-prod-opera-products/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0.h5","title":"S3
        Direct Download [3]","description":"This link provides direct download access
        via S3 to OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0.h5","roles":["data"],"storage:refs":["aws"]},"metadata":{"href":"https://cmr.earthdata.nasa.gov/search/concepts/G3141747030-ASF.xml","title":"CMR
        XML metadata for G3141747030-ASF","type":"application/xml","roles":["metadata"]}},"links":[{"rel":"self","href":"https://cmr.earthdata.nasa.gov/stac/ASF/collections/OPERA_L2_RTC-S1_V1_1/items/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0","type":"application/geo+json"},{"rel":"parent","href":"https://cmr.earthdata.nasa.gov/stac/ASF/collections/OPERA_L2_RTC-S1_V1_1/","type":"application/geo+json"},{"rel":"collection","href":"https://cmr.earthdata.nasa.gov/stac/ASF/collections/OPERA_L2_RTC-S1_V1_1/","type":"application/geo+json"},{"rel":"root","href":"https://cmr.earthdata.nasa.gov/stac","type":"application/json"},{"rel":"provider","href":"https://cmr.earthdata.nasa.gov/stac/ASF","type":"application/json"},{"rel":"via","href":"https://cmr.earthdata.nasa.gov/search/concepts/G3141747030-ASF.json","title":"CMR
        JSON metadata for item","type":"application/json"},{"rel":"via","href":"https://cmr.earthdata.nasa.gov/search/concepts/G3141747030-ASF.umm_json","title":"CMR
        UMM_JSON metadata for item","type":"application/vnd.nasa.cmr.umm+json"}],"collection":"OPERA_L2_RTC-S1_V1_1"},{"type":"Feature","id":"OPERA_L2_RTC-S1_T151-322421-IW3_20240707T010255Z_20240709T063039Z_S1A_30_v1.0","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/storage/v2.0.0/schema.json"],"properties":{"datetime":"2024-07-07T01:02:55.000Z","storage:schemes":{"aws":{"type":"aws-s3","platform":"https://{bucket}.s3.{region}.amazonaws.com","bucket":"asf-cumulus-prod-opera-products","region":"us-west-2"}},"start_datetime":"2024-07-07T01:02:55.000Z","end_da[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/stac/ASF/search?bbox%5B0%5D=-105.02&bbox%5B1%5D=39.74&bbox%5B2%5D=-105.01&bbox%5B3%5D=39.75&collections%5B0%5D=OPERA_L2_RTC-S1_V1_1&cursor=eyJqc29uIjoiW1wiYXNmXCIsMTcyMjQzMDkyMjAwMCwzMTc5OTI4NDc5XSIsInVtbSI6IltcImFzZlwiLDE3MjI0MzA5MjIwMDAsMzE3OTkyODQ3OV0ifQ%3D%3D&datetime=2024-07-01T00%3A00%3A00Z%2F2024-07-31T23%3A59%3A59Z
  response:
    body:
      string: '{"type":"FeatureCollection","features":[],"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/granules.json?attribute%5B%5D=string%2CASCENDING_DESCENDING%2CASCENDING&bounding_box=-105.02%2C39.74%2C-105.01%2C39.75&page_size=2000&provider=ASF&short_name=OPERA_L2_RTC-S1_V1&temporal=2024-07-01T00%3A00%3A00Z%2C2024-07-31T23%3A59%3A59Z
  response:
    body:
      string: '{"feed":{"updated":"2026-05-20T18:18:47.844Z","id":"https://cmr.earthdata.nasa.gov:443/search/granules.json?short_name=OPERA_L2_RTC-S1_V1&provider=ASF&bounding_box=-105.02%2C39.74%2C-105.01%2C39.75&temporal=2024-07-01T00%3A00%3A00Z%2C2024-07-31T23%3A59%3A59Z&page_size=2000&attribute%5B%5D=string%2CASCENDING_DESCENDING%2CASCENDING","title":"ECHO
        granule metadata","entry":[{"producer_granule_id":"OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0","time_start":"2024-07-02T00:54:44.000Z","updated":"2024-07-02T07:34:20.000Z","orbit_calculated_spatial_domains":[{"orbit_number":"54575"}],"dataset_id":"OPERA
        Radiometric Terrain Corrected SAR Backscatter from Sentinel-1 validated product
        (Version 1)","data_center":"ASF","title":"OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0","coordinate_system":"CARTESIAN","day_night_flag":"UNSPECIFIED","time_end":"2024-07-02T00:54:47.000Z","id":"G3141747030-ASF","original_format":"UMM_JSON","granule_size":"13.170488357543945","browse_flag":true,"polygons":[["39.4937
        -105.74139 39.5699 -105.21948 39.63812 -104.73704 39.80352 -104.77789 39.72776
        -105.31406 39.66029 -105.77644 39.4937 -105.74139"]],"collection_concept_id":"C2777436413-ASF","online_access_flag":true,"links":[{"rel":"http://esipfed.org/ns/fedsearch/1.1/browse#","title":"Download
        OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_BROWSE.png","hreflang":"en-US","href":"https://datapool.asf.alaska.edu/BROWSE/OPERA-S1/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_BROWSE.png"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/browse#","title":"This
        link provides direct download access via S3 to OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_20240702T065346Z_S1A_30_v1.0_BROWSE.png","hreflang":"en-US","href":"s3://asf-cumulus-prod-opera-browse/OPERA_L2_RTC-S1/OPERA_L2_RTC-S1_T078-165624-IW1_20240702T005444Z_202407[...]
