interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: '{"datetime": "2017-12-01T00:00:00Z/2018-01-01T00:00:00Z", "collections":
      ["sentinel-2-l2a"], "query": {"grid:code": {"eq": "MGRS-33TWM"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"stac_version\":\"1.0.0\",\"stac_extensions\":[],\"context\":{\"limit\":10,\"matched\":6,\"returned\":6},\"numberMatched\":6,\"numberReturned\":6,\"features\":[{\"type\":\"Feature\",\"stac_version\":\"1.0.0\",\"id\":\"S2B_33TWM_20171219_1_L2A\",\"properties\":{\"created\":\"2024-03-21T20:59:15.955Z\",\"platform\":\"sentinel-2b\",\"constellation\":\"sentinel-2\",\"instruments\":[\"msi\"],\"eo:cloud_cover\":8.091518,\"proj:epsg\":32633,\"mgrs:utm_zone\":33,\"mgrs:latitude_band\":\"T\",\"mgrs:grid_square\":\"WM\",\"grid:code\":\"MGRS-33TWM\",\"view:sun_azimuth\":166.269467213576,\"view:sun_elevation\":18.958625978771494,\"s2:degraded_msi_data_percentage\":0.0122,\"s2:nodata_pixel_percentage\":11.573595,\"s2:saturated_defective_pixel_percentage\":0,\"s2:dark_features_percentage\":20.237651,\"s2:cloud_shadow_percentage\":0.005069,\"s2:vegetation_percentage\":25.160089,\"s2[...]
- request:
    body: '{"datetime": "2017-12-01T00:00:00Z/2018-01-01T00:00:00Z", "query": {"grid:code":
      {"eq": "MGRS-33TWM"}}, "collections": ["sentinel-2-l2a"], "next": "2017-12-02T10:06:47.847000Z,S2B_33TWM_20171202_0_LAp,sentinel-2-l2a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":6,"returned":0},"numberMatched":6,"numberReturned":0,"features":[],"links":[{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"}]}'
    headers:
      Content-Type:
      - application/geo+json; charset=utf-8
      etag:
      - W/"111-wrVkBXTTglee11OCJac7SNa+vfU"
      x-amz-apigw-id:
      - CYar8FBnPHcEMdA=
      x-amzn-Remapped-content-length:
      - '273'
      x-amzn-RequestId:
      - 198f0763-fb30-4429-b7ff-09b06a656193
    status:
      code: 200
      message: OK
version: 1
